footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  margin: 4rem auto;
  h1 {
    font-family: $fonte;
    font-size: 2rem;
    font-weight: 600;
  }
  div {
    nav {
      display: flex;
      column-gap: 3rem;
      li {
        a {
          font-family: $fonte;
          font-size: 1.125rem;
          font-weight: 500;

          color: $cor-black;

          text-transform: uppercase;
          text-decoration: none;
          list-style: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
