@import "./variaveis";

.artists {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  margin-top: 5rem;
  h1 {
    font-family: $fonte;
    font-size: 3rem;
    font-weight: 500;

    margin-bottom: 2rem;
  }
  .pictures {
    display: flex;
    justify-content: space-between;
    div {
      display: inline-flex;
      position: relative;
      h1 {
        position: absolute;
        top: 10px;
        left: 20px;

        font-family: $fonte;
        font-size: 1.4rem;
        font-weight: 600;

        color: $cor-branco2;
      }
      h3 {
        position: absolute;
        top: 40px;
        left: 20px;

        font-family: $fonte;
        font-size: 0.8rem;
        font-weight: 500;

        color: $cor-branco;
      }
      img {
        width: 390px;
      }
    }
  }
}
